body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #e0f7fa;
}

header, footer {
    text-align: center;
    margin-bottom: 20px;
}

.table-container {
    display: flex;
    justify-content: center;
    margin: 20px;
}

table {
    width: 80%;
    border-collapse: collapse;
    text-align: center;
}

td {
    border: 1px solid #ddd;
    padding: 10px;
}

.profile-item {
    text-align: center;
}

img {
    max-width: 100px;
    height: auto;
}
